[submodule "src/libs/lodepng"]
	path = src/libs/lodepng
	url = https://github.com/lvandeve/lodepng
	ignore = dirty
[submodule "test/libs/Catch2"]
	path = test/libs/Catch2
	url = https://github.com/catchorg/Catch2.git
