
[submodule "src/libs/TinyTIFF"]
	path = src/libs/TinyTIFF
	url = https://github.com/jkriege2/TinyTIFF
	ignore = dirty
[submodule "src/libs/lodepng"]
	path = src/libs/lodepng
	url = https://github.com/lvandeve/lodepng
	ignore = dirty
